@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}